<div layout="column" flex>
    <md-toolbar layout="column" layout-padding>
        <div layout="column">

            <div class="md-display-1">Surveys App</div>
            <div class="md-title">Users Platform</div>

        </div>
        <div layout="row">
            <md-button goto="/surveys" class="font_size_button_toolbar md-raised">Available Surveys</md-button>
            <md-button goto="/compSurveys" class="font_size_button_toolbar md-raised">Compiled Surveys</md-button>
            <md-button goto="/settings" class="font_size_button_toolbar md-raised">Settings</md-button>
        </div>

    </md-toolbar>

</div>


<div layout="column" ng-show="CompSurveys.list" layout-padding>
    <h2 class="md-title" layout-padding>Compiled Surveys</h2>
    <div layout="row" layout-wrap>
        <md-card layout="column" layout-padding ng-repeat="ans in CompSurveys.answers" ng-click="CompSurveys.showThisResult(ans)" class="pointer">
            <div>{{ans.surv_name}}</div>
            <div>{{ans.date}}</div>
            <div>{{ans.place}}</div>
        </md-card>
    </div>

</div>

<div layout="column" ng-hide="CompSurveys.list" layout-padding>
    <h2 class="md-title" >Result of: {{CompSurveys.selectedSurv.surv_name}}</h2>
    <div class="md-subhead">Description: {{CompSurveys.selectedSurv.description}}</div>

    <div>Date: {{CompSurveys.selectedAnswer.date}}</div>
    <div>Place: {{CompSurveys.selectedAnswer.place}}</div>
    <div>note: {{CompSurveys.selectedAnswer.note}}</div>

    <div class="md-subhead">Questions/Answers:</div>

    <div ng-repeat="q in CompSurveys.selectedSurv.questions" layout="column">
        <div>Question {{$index + 1}}: {{q}}</div>
        <div>Answer {{$index + 1}}: {{CompSurveys.selectedAnswer.answers[$index]}}</div>
    </div>
    <div layout="row">
        <md-button ng-click="CompSurveys.list = true" class="font_size_button">Back</md-button>
        <md-button ng-click="CompSurveys.deleteThisResult(CompSurveys.selectedID, $event)" class="font_size_button">Delete this result</md-button>
    </div>


</div>