<div layout="column" flex>
    <md-toolbar layout="row" layout-padding>
        <div layout="column">

            <div class="md-display-2">Surveys App</div>
            <div class="md-headline">Users Platform</div>

        </div>

    </md-toolbar>

</div>
<div layout="row" layout-align="start center" layout-padding flex>
    <div layout="column" flex>
        <md-input-container>
            <label>Server Address</label>
            <input name="address" ng-model="Login.address" required>
        </md-input-container>
        <md-input-container>
            <label>Username</label>
            <input name="username" ng-model="Login.username" required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input name="password" type="password" ng-model="Login.password" required>
        </md-input-container>
        <div style="color:red">{{Login.message}}</div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click="Login.login()">Login</md-button>

        </div>

    </div>

</div>