<!--In questo file html è presente la struttura della pagina Settings-->
<div layout="column" flex>
    <md-toolbar layout="column" layout-padding>
        <div layout="column">

            <div class="md-display-1">Surveys App</div>
            <div class="md-title">Users Platform</div>

        </div>
        <div style="font-size:8px">User logged: {{Settings.service.username}}</div>
        <div layout="row">
            <md-button goto="/surveys" class="font_size_button_toolbar md-raised">Available Surveys</md-button>
            <md-button goto="/compSurveys" class="font_size_button_toolbar md-raised">Compiled Surveys</md-button>
            <md-button goto="/settings" class="font_size_button_toolbar md-raised">Settings</md-button>
        </div>

    </md-toolbar>

</div>

<div layout="column" layout padding>
    <div layout="row">
        <md-card layout-padding>
            <md-input-container>
                <label>Server Address</label>
                <input name="address" ng-model="Settings.address" required>
            </md-input-container>
            <md-button class="md-raised font_size_button" ng-click="Settings.changeServer()">Change Server</md-button> <!--Nella direttiva ng-click viene inserito il riferimento alla funziona da eseguire quando si fa click sul pulsante-->
            <div>{{Settings.message}}</div>
        </md-card>
        <md-card layout="column" layout-padding>
            <md-input-container>
                <label>User logged</label>
                <input name="user" ng-model="Settings.user" disabled>
            </md-input-container>
            <md-button class="md-raised font_size_button" ng-click="Settings.logout()">Logout</md-button>
        </md-card>
    </div>

</div>