<!--In questo file html c'è la struttura della pagina da cui si vedono le survey assegnate e si possono compilare-->
<div layout="column" flex>
    <md-toolbar layout="column" layout-padding>
        <div layout="column">

            <div class="md-display-1">Surveys App</div>
            <div class="md-title">Users Platform</div>

        </div>
        <div style="font-size:8px">User logged: {{Surveys.service.username}}</div>
        <div layout="row" flex>
            <md-button goto="/surveys" class="font_size_button_toolbar md-raised">Available Surveys</md-button>
            <md-button goto="/compSurveys" class="font_size_button_toolbar md-raised">Compiled Surveys</md-button>
            <md-button goto="/settings" class="font_size_button_toolbar md-raised">Settings</md-button>
        </div>

    </md-toolbar>

</div>

<div ng-show="Surveys.list" layout="column" layout-padding> <!--I vari ng-show o ng-hide servono a nascondere o a mostrare i div a cui è applicato in base alla variabile che si passa tra virgolette (deve essere booleana)-->

    <h2 class="md-title" layout-padding>Available Surveys</h2>
    <div style="font-size:8px">Tap on a survey to compile it</div>

    <div layout="row" layout-wrap> <!--Qua viene visualizzato l'elenco di sondaggi-->
        <md-card ng-repeat="surv in Surveys.surveys | orderBy:'surv_name'" layout-padding ng-click="Surveys.selectSurvey(surv)" class="pointer"> <!-- la direttiva ng-repeat crea tante copie del div in cui viene messa
                                                                                                                                                                     tante quante sono gli elementi contenuti nell'array tra parentesi, in questo caso l'array è surv in Surveys.surveys-->
            {{surv.surv_name}}
        </md-card>
    </div>


</div>
<div ng-hide="Surveys.list" layout="column" layout-padding> <!--Qui c'è la struttura della pagina da cui si compilano i sondaggi-->
    <div class="md-title">Compile the survey: <b style="font-size:24px">{{Surveys.selectedSurvey.surv_name}}</b></div>
    <div class="md-subhead">Description: {{Surveys.selectedSurvey.description}}</div>
    <div layout="row" layout-align="start center">
        <div layout="column">
            <md-input-container>
                <label>Place</label>
                <input ng-model="Surveys.place" required>
            </md-input-container>
            <md-input-container>
                <label>Date</label>
                <md-datepicker style="padding:0" ng-model="Surveys.date" required></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Note</label>
                <input ng-model="Surveys.note">
            </md-input-container>
        </div>
        <div style="padding-left:10px;color:red;">{{Surveys.message}}</div>
    </div>

    <div class="md-subhead">Questions:</div>
    <div ng-repeat="quest in Surveys.selectedSurvey.questions">

        <md-input-container>
            <label>{{quest}}</label>
            <input ng-model="Surveys.answers[$index]">
        </md-input-container>
    </div>
    <div layout="row">
        <md-button ng-click="Surveys.confirm()" class="md-raised font_size_button">Confirm</md-button>
        <md-button ng-click="Surveys.cancel()" class="md-raised font_size_button">Cancel</md-button>
    </div>

</div>
