<div layout="row" style="background-color: white">
    <md-button goto="/surveys" class="font_size_button">Available Surveys</md-button>
    <md-button goto="/compSurveys" class="font_size_button">Compiled Surveys</md-button>
    <md-button goto="/settings" class="font_size_button">Settings</md-button>
</div>

<div ng-show="Surveys.list" layout="column" layout-padding>

    <h2 class="md-title" layout-padding>Available Surveys</h2>

    <div layout="row" layout-wrap>
        <md-card ng-repeat="surv in Surveys.surveys" layout-padding ng-click="Surveys.selectSurvey(surv)" class="pointer">
            {{surv.surv_name}}
        </md-card>
    </div>


</div>
<div ng-hide="Surveys.list" layout="column" layout-padding>
    <div class="md-title">Compile the survey: <b style="font-size:24px">{{Surveys.selectedSurvey.surv_name}}</b></div>
    <div class="md-subhead">Description: {{Surveys.selectedSurvey.description}}</div>
    <div layout="row" layout-align="start center">
        <div layout="column">
            <md-input-container>
                <label>Place</label>
                <input ng-model="Surveys.place" required>
            </md-input-container>
            <md-input-container>
                <label>Date</label>
                <md-datepicker style="padding:0" ng-model="Surveys.date" required></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Note</label>
                <input ng-model="Surveys.note">
            </md-input-container>
        </div>
        <div style="padding-left:10px;color:red;">{{Surveys.message}}</div>
    </div>

    <div class="md-subhead">Questions:</div>
    <div ng-repeat="quest in Surveys.selectedSurvey.questions">

        <md-input-container>
            <label>{{quest}}</label>
            <input ng-model="Surveys.answers[$index]">
        </md-input-container>
    </div>
    <div layout="row">
        <md-button ng-click="Surveys.confirm()" class="font_size_button">Confirm</md-button>
        <md-button ng-click="Surveys.cancel()" class="font_size_button">Cancel</md-button>
    </div>

</div>
