<div layout="row" style="background-color: white">
    <md-button goto="/surveys" style="font-size: 11px;">Available Surveys</md-button>
    <md-button goto="/compSurveys" style="font-size: 11px;">Compiled Surveys</md-button>
    <md-button style="font-size: 11px;">Settings</md-button>
</div>

<div ng-show="Surveys.list" layout="column" layout-padding>

    <h2 class="md-title" layout-padding>Available Surveys</h2>

    <div layout="row" layout-wrap>
        <md-card ng-repeat="surv in Surveys.surveys" layout-padding ng-click="Surveys.selectSurvey(surv.object)" class="pointer">
            {{surv.object.name}}
        </md-card>
    </div>


</div>
<div ng-hide="Surveys.list" layout="column" layout-padding>
    <div class="md-title">{{Surveys.selectedSurvey.name}}</div>
    <div class="md-subhead">Description: {{Surveys.selectedSurvey.description}}</div>
    <md-input-container>
        <label>Place</label>
        <input ng-model="Surveys.place">
    </md-input-container>
    <md-input-container>
        <label>Date</label>
        <input ng-model="Surveys.date">
    </md-input-container>
    <md-input-container>
        <label>Note</label>
        <input ng-model="Surveys.note">
    </md-input-container>
    <div class="md-subhead">Questions:</div>
    <div ng-repeat="quest in Surveys.selectedSurvey.questions">

        <md-input-container>
            <label>{{quest}}</label>
            <input ng-model="Surveys.answers[$index]">
        </md-input-container>
    </div>
    <div layout="row">
        <md-button ng-click="Surveys.confirm()">Confirm</md-button>
        <md-button ng-click="Surveys.cancel()">Cancel</md-button>
    </div>

</div>
